@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --container-color: #F8FBFE;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #212121;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-message {
  color: white;
  margin-top: 5rem;
}

.full-details {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  margin-bottom: 2rem;
}